body {
    font-family: 'Unbounded', cursive;
}


.elapsedTime{
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 40px;
    line-height: 40px;
    color: white;
    left: 0;
    text-align: center;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
}